/.idea
/nov_mark.exe
/minio/minio_data
/minio/minio
/minio/minio.exe
/config.yaml
/unity_client
/bookshelf.exe
/wx_game.exe
/app.log
/wx_game
/*.log
doc/soft/mongo6.0/data
doc/soft/mongodb-compass-1.32.6
test_client/test_client.exe
doc/soft/mongodb-compass-1.32.6.zip
